.row
  .span1
    %h1
      = link_to('Cdrs', cdr_index_path)
  .pull-right
    .btn-group.pull-right{:style => 'margin-top: 10px'}
      #{link_to('All', cdr_filter_path(filter: 'all'), :class => 'btn btn-mini')} #{link_to('Answered', cdr_filter_path(filter: 'answered'), :class => "btn btn-mini #{session[:cdr_filter] && 'active'}")}

    #cdr_callendar.datepicker.input-append.date{'data-date' => @date_filter, :style => ' margin-right: 130px'}
      = text_field_tag('date_filter', @date_filter, 'size' => '16', :class => 'span2', :readonly => '')
      %span.add-on
        %i.icon-th

%table.table.table-bordered.table-hover
  %tr
    %td Ch #
    %td Calldate
    %td Uniqueid
    %td Src
    %td Dst
    %td Duration
    %td Bill time
    %td Disposition
    %td Context
    -#%td Description
    %td Prefix group
    %td Location

  - @cdrs.each do |cdr|
    %tr
      %td
        &nbsp;
        - unless cdr.channel.nil?
          = link_to(cdr.channel.name, cdr_index_path(channel_id: cdr.channel_id))
        - else
          = cdr.channel_id
      %td
        &nbsp;
        = cdr.calldate.to_formatted_s(:short)
      %td
        &nbsp;
        = cdr.uniqueid
      %td
        &nbsp;
        = cdr.src
      %td
        &nbsp;
        - if cdr.is_member
          %span.label.label-success #{cdr.dst}
        - else
          = cdr.dst
      %td
        &nbsp;
        = convert_seconds_to_time(cdr.duration)
      %td
        &nbsp;
        = convert_seconds_to_time(cdr.billsec)
      %td
        &nbsp;
        = cdr.disposition
      %td
        &nbsp;
        = cdr.dcontext
      -#%td
        &nbsp;
        = cdr.channel && cdr.channel.name
        = cdr.channel && cdr.channel.timeout_reason
      %td
        &nbsp;
        = cdr.prefix_group && cdr.prefix_group.group_name
      %td
        &nbsp;
        = cdr.location && cdr.location.name

.row.large
  .span1 Calls: #{@cdr_asr.calls}
  .span1 Time: #{convert_seconds_to_time(@billed_time)}
  .span1 Asr: #{@cdr_asr.asr.to_i}
  .span1 Acd: #{sprintf("%05.2f", @cdr_asr.acd.to_i/60.0)}

%footer
  = paginate @cdrs