%h1= link_to('Cdrs', cdr_index_path)
%table.table.table-bordered.table-hover
  %tr
    %td Ch #
    %td Calldate
    %td Uniqueid
    %td Src
    %td Dst
    %td Duration
    %td Billsec
    %td Disposition
    %td Context
    %td Channel
    %td User
    %td Prefix group
    %td Location

  - @cdrs.each do |cdr|
    %tr
      %td
        &nbsp;
        = link_to(cdr.channel_id, cdr_index_path(channel_id: cdr.channel_id))
      %td
        &nbsp;
        = cdr.calldate
      %td
        &nbsp;
        = cdr.uniqueid
      %td
        &nbsp;
        = cdr.src
      %td
        &nbsp;
        = cdr.dst
      %td
        &nbsp;
        = cdr.duration
      %td
        &nbsp;
        = cdr.billsec
      %td
        &nbsp;
        = cdr.disposition
      %td
        &nbsp;
        = cdr.dcontext
      %td
        &nbsp;
        = cdr.channel && cdr.channel.name
        = cdr.channel && cdr.channel.timeout_reason
      %td
        &nbsp;
        = cdr.user &&cdr.user.name
      %td
        &nbsp;
        = cdr.prefix_group && cdr.prefix_group.group_name
      %td
        &nbsp;
        = cdr.location && cdr.location.name

%footer
  = paginate @cdrs