= div_for(channel, :class => "row", :style => "background-color: #{channel_row_class(channel)}") do
  .span1
    / Channel
    &nbsp;
    %b{rel: 'tooltip', title: "Phone: #{channel.sip.name} <br/> Imei: #{channel.imei}<br/> Date: #{channel.start_date_str} - #{channel.stop_date_str}"}= link_to(channel.name, '#')
  .span1
    / Operator
    = '&nbsp;-'.html_safe if channel.operator_groups.blank?
    - bill_time = channel.today_bill_time
    - channel.operator_groups.each do |prefix_group|
      = div_for(prefix_group) do
        %span.head{:style => "color: #{prefix_group.color}"}= prefix_group.group_name
        %span.pull-right= convert_seconds_to_time(bill_time[prefix_group.id]) || 0
  .span1
    / State
    %span= word_wrap(channel.state, 15)
  .span1
    /Reg status
    &nbsp;
    %span.badge{:class => channel.state_css}
      = channel.online_status
  .span2
    / Duration today
    = convert_seconds_to_time(channel.duration_today)
  -#.span2
    = channel.system_status.join(' ')
  -#.span2
    / Live time
    = Cdr.channel_stats(channel)
  .span3.btn-group
    = link_to power_location_channel_path(location, channel), :remote => true, :class => "btn btn-mini power #{channel.status.eql?(1) ? 'btn-success' : 'btn-danger'}" do
      %i.icon-off
      Power
    = link_to edit_location_channel_path(location, channel), :remote => true, :class => 'btn btn-mini' do
      %i.icon-cog
      Settings
    = link_to sys_info_location_channel_path(location, channel), :remote => true, :class => 'btn btn-mini' do
      %i.icon-info-sign
      Sys Info

