= div_for(channel, :class => "row", :style => "background-color: #{channel_row_class(channel)}") do
  .span1
    &nbsp;
    %b{rel: 'tooltip', title: "Phone: #{channel.sip.name} <br/> Imei: #{channel.imei}<br/> Date: #{channel.start_date_str} - #{channel.stop_date_str}"}= link_to(channel.id, '#')
  .span1
    = '&nbsp;-'.html_safe if channel.operator_groups.blank?
    - channel.operator_groups.each do |prefix_group|
      = div_for(prefix_group, :style => "color: #{prefix_group.color}") do
        = prefix_group.group_name
  .span1= channel.state
  .span1
    &nbsp;
    = channel.online_status
  .span2= channel.system_status.join(' ').html_safe
  .span2= Cdr.channel_stats(channel)
  .span3.btn-group
    = link_to power_location_channel_path(location, channel), :remote => true, :class => "btn btn-mini power #{channel.status.eql?(1) ? 'btn-success' : 'btn-danger'}" do
      %i.icon-off
      Power
    = link_to edit_location_channel_path(location, channel), :remote => true, :class => 'btn btn-mini' do
      %i.icon-cog
      Settings
    = link_to sys_info_location_channel_path(location, channel), :remote => true, :class => 'btn btn-mini' do
      %i.icon-info-sign
      Sys Info

