= simple_form_for([@location, @channel], :html => {:class => 'modal hide'} ) do |f|
  .modal-header
    %button{ :type => "button", :class => "close",  :'data-dismiss' => "modal"} ×
    %h3.row
      .span2
        = "#{ f.object.new_record? ? 'New' : 'Edit'}"
        channel
      .span1= f.select :location_id, current_user.locations.all.map { |l| [l.name, l.id] }
  .modal-body
    = f.error_notification
    .row
      .span2= text_field :channel, :name, :placeholder => 'Phone number'
      .span2= text_field :channel, :secret, :placeholder => 'Password'
      .span2= f.select :chan_group_id, ChanGroup.all.map { |c| [c.chan_group_name, c.id] }, :placeholder => 'Chanel Group ID'
    .row
      .span2{'data-date' => @channel.start_date_str}
        = text_field :channel, :start_date,
          :value => @channel.start_date_str,
          :placeholder => 'Start date',
          :title => 'Start date',
          :class => 'datepicker'
      .span2
        = text_field :channel, :stop_date,
          :value => @channel.stop_date_str,
          :placeholder => 'Stop date',
          :title => 'Stop date',
          :class => 'datepicker'

    .row
      .span2= f.input :start_time
      .span2= f.input :stop_time
    - operators = ['KS', 'MTS', 'Life', '3mob', 'fix']
    .tabbable.tabs-below
      .tab-content
        .row
          %label.span1 Enable
          %label.span1 Time interval
          %label.span1 Count calls
          %label.span1 Interval
          %label.span1 min/day
        - operators.each do |operator|
          .tab-pane{id: "#{operator}", :class => "#{'active' if operators.index(operator).eql?(0)}"}
            .row
              .span1
                = check_box_tag("channel[operator][#{operator}][enabled]", true)
                ON
              .span1
                %input{:type => "number", :pattern => "[0-9]+", :value => 100, :size => "5", :maxlength => "4", :class => 'input-mini'}
              .span1
                %input{:type => "number", :pattern => "[0-9]+", :value => 100, :size => "5", :maxlength => "4", :class => 'input-mini'}
              .span1
                %input{:type => "number", :pattern => "[0-9]+", :value => 100, :size => "5", :maxlength => "4", :class => 'input-mini'}
              .span1
                %input{:type => "number", :pattern => "[0-9]+", :value => 100, :size => "5", :maxlength => "4", :class => 'input-mini'}
              .span1
                = check_box_tag("channel[operator][#{operator}][strict]", '1')
                strict

      %ul.nav.nav-tabs.operators
        - operators.each do |operator|
          %li
            = link_to "##{operator}", 'data-toggle' => 'tab' do
              = operator

  .modal-footer
    = link_to('Close', '#', :class => 'btn', :'data-dismiss' => 'modal')
    = f.button :submit, :class => 'btn btn-primary'
    - if f.object.persisted?
      = link_to('Desttroy', [@channel.location, @channel], :class => 'btn btn-danger', :confirm => 'Are You sure? to destroy this channel?', :method => :delete)
