.modal-header
  %button{ :type => "button", :class => "close",  :'data-dismiss' => "modal"} ×
  %h3
    Channel
    = "№ #{@channel.id}"
.modal-body
  %dl.dl-horizontal
    %dt Location
    %dd= @channel.location.name
    %dt Phone:
    %dd= number_to_phone(@channel.sip.name)
    %dt Start Date:
    %dd= @channel.start_date_str
    %dt Stop Date:
    %dd= @channel.stop_date_str

    - @channel.sys_info.each do |k,v|

      %dt= k
      %dd
        &nbsp;
        = v
  .row
    .span5= debug(@channel)
  .row
    .span5= debug(@channel.sip)
.modal-footer
  = link_to('Close', '#', :class => 'btn', :'data-dismiss' => 'modal')
