.modal-header
  %button{ :type => "button", :class => "close",  :'data-dismiss' => "modal"} ×
  %h3
    = @channel.location.name
    = number_to_phone(@channel.phone_number)
    = "##{@channel.id}"

.modal-body
  .row
    .span6= @channel.inspect
.modal-footer
  = link_to('Close', '#', :class => 'btn', :'data-dismiss' => 'modal')
