.modal-header
  %button{ :type => "button", :class => "close",  :'data-dismiss' => "modal"} ×
  %h3
    Channel
    = "№ #{@channel.id}"
.modal-body
  %dl.dl-horizontal
    %dt Location
    %dd= @channel.location.name
    %dt Phone:
    %dd= number_to_phone(@channel.sip.name)
    %dt Start Date:
    %dd= @channel.start_date_str
    %dt Stop Date:
    %dd= @channel.stop_date_str

    - @channel.sys_info.each do |k,v|
      %dt= k
      %dd
        &nbsp;
        = v
  %h4{:onclick => "$('#inspect_channel').toggle();"} Channel Inspect
  #inspect_channel.row{:style => 'display:none'}
    .span5= debug(@channel)
  %h4{:onclick => "$('#inspect_sip').toggle();"} Sip Inspect
  #inspect_sip.row{:style => 'display:none'}
    .span5= debug(@channel.sip)
  %h4{:onclick => "$('#inspect_cdrs').toggle();"} Last CDRs
  #inspect_cdrs.row{:style => 'display:none'}
    - @channel.cdrs.limit(5).each do |cdr|
      %pre= cdr.to_yaml

.modal-footer
  = link_to('Close', '#', :class => 'btn', :'data-dismiss' => 'modal')
