%h2
  Profile
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  .row
    .span2= f.label :name
    .span2= f.text_field :name
  .row
    .span2= f.label :email
    .span2= f.email_field :email
  .row
    .span2
      = f.label :password
      %i (leave blank if you don't want to change it)
    .span2= f.password_field :password, :autocomplete => "off"
  .row
    .span2= f.label :password_confirmation
    .span2= f.password_field :password_confirmation
  .row
    .span2
      = f.label :current_password
      %i (we need your current password to confirm your changes)
    .span2= f.password_field :current_password
  %div
    = f.submit "Update", :class => 'btn btn-success'
-#    = link_to "Back", :back
-#%h3 Cancel my account
-#%p
  Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.
