%h1 Channels assignment
= form_for :friend_group, :url => channels_assignment_user_friend_groups_path, :method => :get do |f|
  .row.input-append
    .span1= label_tag "friend_group_id", "Location"
    .span2= select_tag "location_id", options_from_collection_for_select(current_user.locations, "id", "name", params[:location_id]), { :prompt => "Select location"}
    .span2= submit_tag "Show", class: "btn btn-success"

= form_tag assign_channels_user_friend_groups_path do
  %table.table.table-bordered
    %tr
      %th Friend group
      %th ID
      %th Name
      %th Operator
      %th Location
    - @channels.each do |channel|
      = content_tag_for(:tr, channel) do
        %td
          = check_box_tag "channel_ids[]", channel.id, false
          = channel.friend_group.try(:name)
        %td
          %span.badge{:class => channel.state_css}
            = channel.id
        %td
          = channel.name
          - channel.today_bill_time_all.each do |el|
            %div= "#{el.dcontext}: #{convert_seconds_to_time(el.billsec)} / #{el.calls} calls"
        %td
          - channel.operator_groups.each do |prefix_group|
            = div_for(prefix_group) do
              %span.head{:style => "color: #{prefix_group.color}"}= prefix_group.group_name
        %td= link_to(channel.location.name, channels_assignment_user_friend_groups_path(location_id: channel.location) )

  .row.input-append
    .span1= label_tag "friend_group_id", "Friend group"
    .span2= select_tag "friend_group_id", options_from_collection_for_select(@friend_groups, "id", "name")
    .span2= submit_tag "Assign", class: "btn btn-success"

%footer

#edit
