= form_for Cdr.new, :url => "/report/#{params[:id]}" do |f|
  .row
    .span1
      %label From
      = text_field_tag :from_date, @from.to_s(:date),
        :placeholder => 'from date',
        :size => 10,
        :class => 'datepicker'
    .span2
      %label To
      = text_field_tag :to_date, @to.to_s(:date),
        :placeholder => 'to date',
        :size => 10,
        :class => 'datepicker'
  .row
    .span2
      = f.button 'Show', :class => 'btn btn-primary'

.row.head
  .span1 Operator
  .span1 Time(min)
  .span1 Price(cent)
  .span1 Payment
- total = 0
- @groups_bill.each do |group, min|
  - total = total.to_i + min.to_i * @prefix_rates[group].to_i
  .row.calculator{:class => "group_#{group}"}
    .span1= @prefix_groups[group]
    .minutes.span1= min.to_i
    .span1= text_field_tag 'group', @prefix_rates[group], :class => 'price input-mini', :'data-minutes' => min, :disabled => true
    .result.span1

%hr/
.row
  .span2
    %button.calculate.btn.btn-info Total: $
  .offset3
    .total= (total/100).round(2)
