%header
  %h2 Gateways
%table.table.table-bordered
  %tr
    %th Provider
    %th Name
    %th Allow
    %th Host
    %th Type
    %th Context
    %th= link_to(content_tag(:i, '', :class => 'icon-plus-sign icon-white') + ' New Gateway', new_gateway_path, :class => 'btn btn-success')

  - @gateways.each do |gateway|
    %tr
      %td
        = gateway.provider ? gateway.provider.name : '-'
      %td= gateway.name
      %td= gateway.allow
      %td= gateway.host
      %td= gateway.type
      %td= gateway.context
      %td
        = link_to  edit_gateway_path(gateway), :class => 'btn btn-mini' do
          %i.icon-wrench
          Edit
        = link_to gateway, :confirm => 'Are you sure? !!!!', method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' do
          %i.icon-trash
          Destroy

%footer
  = paginate @gateways