.modal-header
  %button{ :type => "button", :class => "close",  :'data-dismiss' => "modal"} ×
  %h3
    = @trunk.location.name
    = number_to_phone(@trunk.phone_number)
    = "##{@trunk.id}"

.modal-body
  .row
    .span6= @trunk.inspect
.modal-footer
  = link_to('Close', '#', :class => 'btn', :'data-dismiss' => 'modal')
