%h1 Prefix Groups

%table.table.table-bordered
  %tr
    %th #
    %th Group name
    %th Init change
    %th Rate
    %th Minutes per day
    %th= link_to(content_tag(:i, '', :class => 'icon-plus-sign icon-white') + ' New Prefix Group', new_prefix_group_path, :remote => true, :class => 'btn btn-success')

  - @prefix_groups.each do |prefix_group|
    = content_tag_for(:tr, prefix_group) do
      %td= prefix_group.id
      %td= prefix_group.group_name
      %td= prefix_group.def_init_charge
      %td= prefix_group.def_rate
      %td= prefix_group.def_minutes_per_day
      %td
        .btn-group
          = link_to  edit_prefix_group_path(prefix_group), :remote => true, :class => 'btn btn-success' do
            %i.icon-white.icon-wrench
            Edit
          = link_to prefix_group, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => 'btn btn-danger' do
            %i.icon-white.icon-trash
            Destroy
%footer
  = paginate @prefix_groups

#edit
