= simple_form_for(@chan_group, :html => {:remote => true, :class => "modal #{'hide'  if request.xhr?}"} ) do |f|
  .modal-header
    %button{ :type => "button", :class => "close",  :'data-dismiss' => "modal"} ×
    %h3.row
      .span2
        = "#{ f.object.new_record? ? 'New' : 'Edit'}"
        Channels Group
  .modal-body
    = f.error_notification
    .form-inputs
      = f.input :chan_group_name, :label => 'Group Name'
      = f.input :max_channels_cnt, :label => 'Channels count'
      = f.input :max_channels_online, :label => 'Max in Online'
  .modal-footer
    = link_to('Close', '#', :class => 'btn', :'data-dismiss' => 'modal')
    = f.button :submit, :class => 'btn btn-primary'
    - if f.object.persisted?
      = link_to('Desttroy', @chan_group , :class => 'btn btn-danger', :confirm => 'Are You sure? to destroy this Group?', :method => :delete)
