.navbar
  .navbar-inner
    .container
      %ul.nav.pull-right
        - unless current_user.locations.blank?
          %li= link_to(content_tag(:i, '', :class => 'icon-volume-up icon-white') + ' Add channel', new_location_channel_path(current_user.locations.first), :remote => true, :id => 'add_channel')
        %li= link_to(content_tag(:i, '', :class => 'icon-map-marker icon-white') + ' Add location', '#new_location', :'data-toggle' => 'modal')
        - if current_user.can_add_friendgroups?
          %li= link_to(content_tag(:i, '', :class => 'icon-globe icon-white') + ' Friend Groups', user_friend_groups_path)
          %li= link_to(content_tag(:i, '', :class => 'icon-tasks icon-white') + ' Channels assignment', channels_assignment_user_friend_groups_path)
-#= render 'channels/form'
= render 'locations/form'
