.row.large.alert.alert-info
  .span3
    = Time.current.to_s(:short)
    Billed time:
    = convert_seconds_to_time(@location.today_bill_time)
  - if info = asr_acd(@location.id)
    .span4
      Calls:
      = info[:calls]
      ASR:
      = info[:asr]
      ACD:
      = convert_seconds_to_time(info[:acd].to_i)
  .span2
    - if @location_for_destroy
      = link_to("Remove #{@location.name}", user_location_path(@location), :method => :delete, :class => 'btn btn-danger pull-right')

.row.head
  .span1 Channel
  .span1 Operator
  .span1 State
  .span1 Reg status
  .span2 Duration today
  -#.span2 Live time
  .span3

- @channels.each do |channel|
  = render :partial => 'channels/channel', :locals => {:channel => channel, :location => @location}