%em= Time.now.to_s(:short)

- if @location_for_destroy
  = link_to("Remove #{@location.name}", user_location_path(@location), :method => :delete, :class => 'btn btn-danger')
- if info = asr_acd(location_id)
  .row
    .span1
      Calls:
      = info[:calls]
   .span1
      ASR:
      = info[:asr]
    .span1
       ACD:
       = info[:acd]

.row.head
  .span1 Channel
  .span1 Operator
  .span1 State
  .span1 Reg status
  .span2 Duration today
  -#.span2 Live time
  .span3
- @channels.each do |channel|
  = render :partial => 'channels/channel', :locals => {:channel => channel, :location => @location}