= link_to "Trunkhq", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      = link_to( content_tag(:i, '', :class => 'icon-gift icon-white') + ' Report', report_path)
    %li
      = link_to( content_tag(:i, '', :class => 'icon-user icon-white') + ' Profile', edit_user_registration_path)
    - if current_user.has_role? :admin
      %li
        = link_to(content_tag(:i, '', :class => 'icon-signal icon-white') + ' Users', users_path)
  - else
    %li
      = link_to(content_tag(:i, '', :class => 'icon-fire icon-white') + ' Sign up', new_user_registration_path)

  - if user_signed_in?
    %li
      = link_to( content_tag(:i, '', :class => 'icon-off icon-white') + ' Logout', destroy_user_session_path, :method=>'delete')
    %li= link_to content_tag(:i, '', :class => 'icon-circle-arrow-left icon-white') + ' Back',  :back
  - else
    %li
      = link_to(content_tag(:i, '', :class => 'icon-off icon-white') + ' Login', new_user_session_path)

